.color-text--red {
    color: #f44336 !important;
}
.color--red {
    background-color: #f44336 !important;
}
.color-text--pink {
    color: #e91e63 !important;
}
.color--pink {
    background-color: #e91e63 !important;
}
.color-text--purple {
    color: #9c27b0 !important;
}
.color--purple {
    background-color: #9c27b0 !important;
}
.color-text--deep-purple {
    color: #673ab7 !important;
}
.color--deep-purple {
    background-color: #673ab7 !important;
}
.color-text--indigo {
    color: #3f51b5 !important;
}
.color--indigo {
    background-color: #3f51b5 !important;
}
.color-text--blue {
    color: #2196f3 !important;
}
.color--blue {
    background-color: #2196f3 !important;
}
.color-text--light-blue {
    color: #03a9f4 !important;
}
.color--light-blue {
    background-color: #03a9f4 !important;
}
.color-text--cyan {
    color: #00bcd4 !important;
}
.color--cyan {
    background-color: #00bcd4 !important;
}
.color-text--teal {
    color: #009688 !important;
}
.color--teal {
    background-color: #009688 !important;
}
.color-text--green {
    color: #4caf50 !important;
}
.color--green {
    background-color: #4caf50 !important;
}
.color-text--light-green {
    color: #8bc34a !important;
}
.color--light-green {
    background-color: #8bc34a !important;
}
.color-text--lime {
    color: #cddc39 !important;
}
.color--lime {
    background-color: #cddc39 !important;
}
.color-text--yellow {
    color: #ffeb3b !important;
}
.color--yellow {
    background-color: #ffeb3b !important;
}
.color-text--amber {
    color: #ffc107 !important;
}
.color--amber {
    background-color: #ffc107 !important;
}
.color-text--orange {
    color: #ff9800 !important;
}
.color--orange {
    background-color: #ff9800 !important;
}
.color-text--deep-orange {
    color: #ff5722 !important;
}
.color--deep-orange {
    background-color: #ff5722 !important;
}
.color-text--brown {
    color: #795548 !important;
}
.color--brown {
    background-color: #795548 !important;
}
.color-text--grey {
    color: #9e9e9e !important;
}
.color--grey {
    background-color: #9e9e9e !important;
}
.color-text--blue-grey {
    color: #607d8b !important;
}
.color--blue-grey {
    background-color: #607d8b !important;
}
.color--black {
    background-color: #000 !important;
}
.color-text--black {
    color: #000 !important;
}
.color--white {
    background-color: #fff;
}
.color-text--white {
    color: #fff;
}
.color--primary {
    background-color: rgb(0, 150, 136) !important;
}
.color--primary-contrast {
    background-color: rgb(255, 255, 255) !important;
}
.color--primary-dark {
    background-color: rgb(0, 121, 107) !important;
}
.color--accent {
    background-color: rgb(105, 240, 174) !important;
}
.color--accent-contrast {
    background-color: rgb(66, 66, 66) !important;
}
.color-text--primary {
    color: rgb(0, 150, 136) !important;
}
.color-text--primary-contrast {
    color: rgb(255, 255, 255) !important;
}
.color-text--primary-dark {
    color: rgb(0, 121, 107) !important;
}
.color-text--accent {
    color: rgb(105, 240, 174) !important;
}
.color-text--accent-contrast {
    color: rgb(66, 66, 66) !important;
}
