<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h2 class="mdl-mega-footer__heading">About</h2>
      <ul class="mdl-mega-footer__link-list">
        <li>
          About
        </li>
        <li>
          Team
        </li>
        <li>
          Terms
        </li>
        <li>
          Cookies
        </li>
        <li>
          Blog
        </li>
        <li>
          Developers
        </li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h2 class="mdl-mega-footer__heading">Join Us!</h2>
      <ul class="mdl-mega-footer__link-list">
        <li>
          Sign Up
        </li>
        <li>
          Register
        </li>
        <li>
          Create A Profile
        </li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h2 class="mdl-mega-footer__heading">Search</h2>
      <ul class="mdl-mega-footer__link-list">
        <li>
          Search For Products
        </li>
        <li>
          Find Nearby Vendors
        </li>
        <li>
          Find Nearby Partners
        </li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h2 class="mdl-mega-footer__heading">Popular</h2>
      <ul class="mdl-mega-footer__link-list">
        <li>
          Map
        </li>
        <li>
          FAQs
        </li>
        <li>
          Technology
        </li>
        <li>
          Forgot Password
        </li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Support</div>
    <ul class="mdl-mega-footer__link-list">
      <li>
        Support
      </li>
      <li>
        Privacy
      </li>
      <li>
        Contact
      </li>
    </ul>
  </div>
</footer>