<div class="mdc-layout-grid">

  <div class="mdc-layout-grid__inner">
    <div class="
      mdc-layout-grid__cell
      mdc-layout-grid__cell--span-12-desktop
      mdc-layout-grid__cell--span-8-tablet
      mdc-layout-grid__cell--span-4-phone">

        <div class="full-page-card">
          <div class="full-page-card__primary-action">
            <div class="full-page-card__primary">
              <h1 class="full-page-card__title mdc-typography mdc-typography--headline6">Welcome to EmberSy Fire</h1>
              <h3 class="full-page-card__subtitle mdc-typography mdc-typography--subtitle2">
                <a href="https://github.com/The-Don-Himself/Embersy-Fire" target="_blank" rel="noopener">Open Source on Github</a>
              </h3>
            </div>
            <div class="full-page-card__content">

              <ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
                <li class="mdc-image-list__item">
                  <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="{{ assets-base-url }}/emberjs.png" alt="EmberJS">
                  </div>
                </li>

                <li class="mdc-image-list__item">
                  <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="{{ assets-base-url }}/firebase.png" alt="Firebase">
                  </div>
                </li>

                <li class="mdc-image-list__item">
                  <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="{{ assets-base-url }}/symfony.png" alt="Symfony">
                  </div>
                </li>
              </ul>

            </div>
            <div class="mdc-typography mdc-typography--body2">EmberSy Fire is your nifty kickstart package for building ambitious web apps. It comprises of an EmberJs 3.x frontend with a Symfony 4.x (flex) powered backend both glued together using Firebase.</div>
          </div>
        </div>

    </div>
  </div>

</div>
