<nav class="mdl-navigation">
  {{#link-to "profile" class='badge-container'}}
    <div class="badge-num friendrequests">4</div>
    <span class="badge-envelope icon-hover">
      <i class="material-icons color-text--white">people_outline</i>
    </span>
  {{/link-to}}

  {{#link-to "profile" class='badge-container'}}
    <div class="badge-num unreadmessages">12</div>
    <span class="badge-envelope icon-hover">
      <i class="material-icons color-text--white">chat_bubble_outline</i>
    </span>
  {{/link-to}}

  {{#link-to "profile" class='badge-container'}}
    <div class="badge-num unreadnotices">99</div>
    <span class="badge-envelope icon-hover">
      <i class="material-icons color-text--white">notifications_none</i>
    </span>
  {{/link-to}}
</nav>
