<form {{action 'startFirebaseAuth' on='submit'}}>

  <div>
    <button type="submit" class="mdc-button mdc-button--raised mdc-theme--primary-dark-bg">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Social Login</span>
    </button>
  </div>

</form>
